{# src/Symfochess/PartiesBundle/Resources/views/parties/damier.html.twig #}
{% extends 'SymfochessJoueurBundle:General:structure.html.twig' %}


{% block principal %}
<p>&#9817; Pion blanc</p>
<p>&#9823; Pion noir</p>
<p>&#9812; Roi blanc</p>
<p>&#9818; Roi noir</p>
    <p>&#9815; Fou blanc</p>
    <p>&#9821; Fou noir</p>
    <p>&#9816; Cavalier blanc</p>
    <p>&#9822; Cavalier noir</p>
    <p>&#9814; Tour blanche</p>
    <p>&#9820; Tour noire</p>
    <input type="checkbox" id="avecAide"/><label for="avecAide">Afficher les déplacements possibles</label><br/>
{# On génère le javascript pour gérer le tableau contenant les cases et les pièces #}
{% set tableauEchiquier = "var tableauEchiquier = new Array();" %}

{# Initialisation du tableau#}
{% for i in 1..8 %}
    {% set tableauEchiquier = tableauEchiquier ~ "tableauEchiquier[" ~ i ~ "] = new Array();\n" %}
{% endfor %}

{# Rangées #}
{% for i in 8..1 %}
    {% set compteur = 0 %}
    {% for j in "A".."H" %}
        {% set compteur = compteur+1 %}
        {% if ( compteur + i ) % 2 ==0 %}
            {% set classe='casePair' %}
        {% else %}
            {% set classe='caseImpair' %}
        {% endif %}
        {% set case = "#{j}#{i}" %}
        <div class="case {{ classe }}" id="case{{ j }}{{ i }}" name="case_{{ compteur }}_{{ i }}">
            {% if pieces[ case ] is defined %}
                {% set image = 'pieces/' ~ pieces[case].type ~ pieces[case].couleur ~ '.svg' %}
                <img class="imgpion" src="{{ asset('bundles/symfochessparties/images/' ~ image) }}"
                     id="piece{{ j }}{{ i }}" name="{{ pieces[case].type }}">
                {# On met à jour le tableau js #}
                {% set tableauEchiquier = tableauEchiquier ~ "tableauEchiquier[" ~ compteur ~ "][" ~ i ~ "] = {piece: '" ~ pieces[case].type ~ "', couleur: '" ~ pieces[case].couleur ~ "'};\n" %}
            {% else %}
                {# On met à jour le tableau js #}
                {% set tableauEchiquier = tableauEchiquier ~ "tableauEchiquier[" ~ compteur ~ "][" ~ i ~ "] = null;\n" %}
            {% endif %}</div>
    {% endfor %}
    <br/>
{% endfor %}

<div id="dialog"></div>
    <script type="text/javascript">
        {{ tableauEchiquier|raw }}
        console.log("tableauEchiquier", tableauEchiquier);
    </script>
{% endblock %}


{% block entete %}
    {% stylesheets '@SymfochessJoueurBundle/Resources/public/css/*' '@SymfochessPartiesBundle/Resources/public/css/*' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% javascripts '@SymfochessPartiesBundle/Resources/public/js/jquery/*' '@SymfochessPartiesBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block titre %}Partie en cours{% endblock %}
{% endblock %}

